body {
  font-family: 'Hedvig Letters Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hedvig Letters Serif', serif;
}

.heart {
  font-size: 70px;
  color: red;
  animation: pop 1s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

